<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
      nickname : {{ request.user.nickname }}<br />

      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'accounts:login' %}">로그아웃</a>
      </form>
      <a href="{% url 'accounts:mypage' %}">마이페이지</a>

      <br /><br />

      <a href="{% url 'everytime:create' %}">글 작성하기</a>
      <hr />

      {% for post in posts %}
        <h2>
          <a href="{% url 'everytime:detail' post.id %}">{{ post.title }}</a>
        </h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
      {% empty %}
        작성된 글이 없습니다.
      {% endfor %}

    {% else %}
      <a href="{% url 'accounts:login' %}">로그인</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
  </body>
</html>
