<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Everytime Main</title>
</head>
<body>

<p>
    {% for category in categories %}
        <a href="{% url 'posts:category_detail' category.slug %}">{{ category.name }}</a>
    {% endfor %}
</p>


{% if request.user.is_authenticated %}
    <p>nickname : {{ request.user.nickname }}</p>
    <p>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>
    </p>
{% endif %}

<hr>

{% for category in categories %}
    <h2><a href="{% url 'posts:category_detail' category.slug %}">{{ category.name }}</a></h2>

    {% for pc in category.post_categories.all|dictsortreversed:"id"|slice:":4" %}
        <p>
            <a href="{% url 'posts:detail' pc.posts.id %}">{{ pc.posts.title }}</a>
        </p>
    {% empty %}
        <p>글이 없습니다.</p>
    {% endfor %}
    <br>
{% endfor %}

</body>
</html>